@import "tailwindcss";

:root {
  --background: #0e0e0e;
  --foreground: #e0e7ff;
  --primary-color: #000000de;
  --secondary-color: #e0e7ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000dd;
    --foreground: #e0e7ff;
  }
}

.dark {
  --background: #e0e7ff;
  --foreground: #0b0b0b;
  --primary-color: #e0e7ff;
  --secondary-color: #000000e4;
}

html{
  cursor: none;
  
}


body {
  /* background: linear-gradient(to right, #0e0e0e, #0b0b0a); */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}


button, a, :hover{
  cursor: none;
}

#bg {
  position: relative;
  background: #0e0e0e;
  /* background : linear-gradient(to right, #0e0e0e, #0b0b0a); */
  width: 100vw;
  max-height: 100vh;
  height: 90dvh;
}

#bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #0e0e0e;
  z-index: 0;
}

#bg>* {
  position: relative;
  z-index: 1;
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}